<% layout('layouts/boilerplate.ejs') -%> <br /><br />

<body >
  <div class="container-help">
    <div class="firstColumn">
      <div class="container-md center">
        <h2 class="heading" style="border-bottom: 2px solid green">
          Let's Make Some Understanding
        </h2>
      </div>

      <div class="center" style="line-height: 70px">
        <ul>
          <li>Register or Login Your Seft On Stock Management</li>
          <li>Add Products With Details -> Using Add Option</li>
          <li>Update Your Products Details -> Using Update Option</li>
          <li>List Products -> Using List All Stock</li>
          <li>Delete Products -> Using Delete Option</li>
        </ul>
      </div>
    </div>
    <div class="secondColumn">
      <div class="img">
        <img src="/help.png" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>
</body>
