<% layout('layouts/boilerplate.ejs') -%> <br /><br />

<body>
  <div class="indexpage">
    <div class="container">
      <div class="container-md center">
        <h4 class="heading">
          Get Started With I Stock Management For Better Management...
        </h4>
      </div>
      <div class="img">
        <img src="stockManagement.png" class="img-fluid" alt="..." />
      </div>
    </div>

    <div class="center mt-5">
      <h5 style="border-bottom: 2px solid green">
        Manage Your Work Very Efficiently
      </h5>
    </div>

    <% if(currUser) {%>
    <div class="offset-1 small mb-3">
      <h5 class="bold">Just Go To You'r WorkSpace</h5>
      <a class="btn btn-success" href="/api/v1/stock/home">My WorkSpace</a>
    </div>
    <% } %> 
    <% if(!currUser) { %>
    <div class="offset-1 small mb-3">
      <h5>Please Login To Go To Your WorkSpace</h5>
      <a class="btn btn-success" href="/api/v1/user/login">Login</a>
    </div>
    <% } %>
  </div>
</body>
<br /><br />
